.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: #ccc;
}

.pagination button {
  background-color: #444;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
